<p>producto works!</p>
<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">


            <p-toolbar styleClass="mb-4">
                <p-button (click)="openNew()" label="Agregar Producto" />
                <div style="height: 1rem;"></div>
                <p-dialog header="Agregar Producto" [(visible)]="dialog_visible" [modal]="true"
                    [breakpoints]="{ '1199px': '', '575px': '90vw' }" [style]="{ width: '30vw' }" [draggable]="false"
                    [resizable]="false" [baseZIndex]="1000" class="p-fluid">

                    <form [formGroup]="productoForm" (ngSubmit)="guardarProducto()">

                        <div class="field">
                            <label for="nombre">Nombre</label>
                            <input type="text" pInputText id="nombre" formControlName="nombre" required autofocus
                                [ngClass]="{ 'campo-error': productoForm.get('nombre')?.invalid && productoForm.get('nombre')?.touched }" />
                            <small *ngIf="productoForm.get('nombre')?.invalid && productoForm.get('nombre')?.touched"
                                class="error-text">
                                El Campo es Obligatorio.
                            </small>
                        </div>

                        <div class="field">
                            <label for="precio">Precio</label>
                            <input type="number" pInputText id="precio" formControlName="precio" required
                                [ngClass]="{ 'campo-error': productoForm.get('precio')?.invalid && productoForm.get('precio')?.touched }" />
                            <small *ngIf="productoForm.get('precio')?.invalid && productoForm.get('precio')?.touched"
                                class="error-text">
                                El Campo es Obligatorio.
                            </small>
                        </div>

                        <div class="field">
                            <label for="stock">Stock</label>
                            <input type="number" pInputText id="stock" formControlName="stock" required
                                [ngClass]="{ 'campo-error': productoForm.get('stock')?.invalid && productoForm.get('stock')?.touched }" />
                            <small *ngIf="productoForm.get('stock')?.invalid && productoForm.get('stock')?.touched"
                                class="error-text">
                                El Campo es Obligatorio.
                            </small>
                        </div>


                        <div class="field">
                            <label for="image">Imagen</label>
                            <input type="text" pInputText id="image" formControlName="image" required
                                [ngClass]="{ 'campo-error': productoForm.get('image')?.invalid && productoForm.get('image')?.touched }" />
                            <small *ngIf="productoForm.get('image')?.invalid && productoForm.get('image')?.touched"
                                class="error-text">
                                El Campo es Obligatorio.
                            </small>
                        </div>


                        <div class="field">
                            <label for="descripcion">Descripción</label>
                            <input type="text" pInputText id="descripcion" formControlName="descripcion" required
                                [ngClass]="{ 'campo-error': productoForm.get('descripcion')?.invalid && productoForm.get('descripcion')?.touched }" />
                            <small
                                *ngIf="productoForm.get('descripcion')?.invalid && productoForm.get('descripcion')?.touched"
                                class="error-text">
                                El Campo es Obligatorio.
                            </small>
                        </div>


                        <div class="field">
                            <label for="estado">Estado</label>
                            <input type="text" pInputText id="estado" formControlName="estado"
                                placeholder="Escribe 'true' o 'false'" required
                                [ngClass]="{ 'campo-error': productoForm.get('estado')?.invalid && productoForm.get('estado')?.touched }" />
                            <small *ngIf="productoForm.get('estado')?.invalid && productoForm.get('estado')?.touched"
                                class="error-text">
                                El Campo debe ser 'true' o 'false'.
                            </small>
                        </div>

                        <div class="field">
                            <label for="categoria">Categoría</label>
                            <select id="categoriaId" formControlName="categoriaId" required
                                [ngClass]="{ 'campo-error': productoForm.get('categoriaId')?.invalid && productoForm.get('categoriaId')?.touched }">
                                <option value="" disabled selected>Seleccione una opción</option>
                                <option *ngFor="let categoria of categorias" [value]="categoria.id">{{
                                    categoria.nombreCategoria }}</option>
                            </select>
                            <small
                                *ngIf="productoForm.get('categoriaId')?.invalid && productoForm.get('categoriaId')?.touched"
                                class="error-text">
                                El Campo es Obligatorio.
                            </small>
                        </div>

                    </form>

                    <ng-template pTemplate="footer">
                        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                            (click)="dialog_visible=false"></button>
                        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
                            (click)="guardarProducto()"></button>
                    </ng-template>
                </p-dialog>


                <ng-template pTemplate="right">
                    <p-dropdown [options]="productos" optionLabel="name" [showClear]="true"
                        placeholder="Filtrar por categorias" />
                    <button pButton pRipple label="Exportar" icon="pi pi-upload" class="p-button-help"
                        (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="productos" responsiveLayout="scroll" [rows]="10" [paginator]="true"
                [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} productos" [rowHover]="true"
                dataKey="id">

                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Administrar Productos</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" placeholder="Buscar..." class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="id">Id <p-sortIcon field="code"></p-sortIcon></th>
                        <th pSortableColumn="nombre">Nombre <p-sortIcon field="name"></p-sortIcon></th>
                        <th>Imagen</th>
                        <th pSortableColumn="precio">Precio <p-sortIcon field="price"></p-sortIcon></th>
                        <th pSortableColumn="categoria_id">Categoría <p-sortIcon field="category"></p-sortIcon></th>
                        <th pSortableColumn="rating">Stock <p-sortIcon field="rating"></p-sortIcon></th>
                        <th pSortableColumn="estado">Descripción <p-sortIcon field="inventoryStatus"></p-sortIcon></th>
                        <th pSortableColumn="estado">Estado <p-sortIcon field="inventoryStatus"></p-sortIcon></th>
                        <th pSortableColumn="estado">Acciones <p-sortIcon field="inventoryStatus"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td class="product-cell">
                            <span class="p-column-title">Id</span>
                            {{ product.code || product.id }}
                        </td>
                        <td class="product-cell">
                            <span class="p-column-title">Nombre</span>
                            {{ product.nombre }}
                        </td>
                        <td class="product-cell">
                            <span class="p-column-title">Imagen</span>
                            <img src="https://hiraoka.com.pe/media/mageplaza/blog/post/c/o/como_elegir_un_teclado.jpg"
                                [alt]="product.name" />
                        </td>
                        <td class="product-cell price">
                            <span class="p-column-title">Precio</span>
                            {{ product.precio | currency:'USD' }}
                        </td>
                        <td class="product-cell">
                            <span class="p-column-title">Categoría</span>
                            <ng-container *ngIf="product && product.categoriaId && categorias.length > 0">
                                {{ getCategoriaNombre(product.categoriaId) }}
                            </ng-container>
                            <ng-container *ngIf="product && !product.categoriaId">
                                Sin Categoría
                            </ng-container>
                        </td>
                        <td class="product-cell stock">
                            <span class="p-column-title">Stock</span>
                            {{ product.stock }}
                        </td>
                        <td class="product-cell">
                            <span class="p-column-title">Descripción</span>
                            {{ product.descripcion }}
                        </td>
                        <td class="product-cell">
                            <span class="p-column-title">Estado</span>
                            {{ product.estado }}
                        </td>
                        <td class="product-cell">
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="editProduct(product)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                    (click)="deleteProduct(product)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>

            </p-table>

        </div>
    </div>
</div>