.swal2-container {
    z-index: 999999 !important;
  }
  
  .swal2-backdrop {
    z-index: 999998 !important;
  }

  ::ng-deep .p-dialog {
    z-index: 1 !important;  /* Reducir el z-index */
  }

.campo-error {
    border-color: red !important;
}

.error-text {
    color: red;
    font-size: 12px;
}